h1{
    text-align:center;
    border: 2px solid black;
    padding: .75em;
    background-color: beige;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    color: brown;
}

#gameBoard{
    display:flex;
}

#player1Board, #player2Board, #gameButtons{
    background-color: beige;
    padding: 1em;
    border: 2px solid black;
    margin: .75em;
}

#buttons{
    display: flex;
    justify-content: center;
}

div#buttons>button[type=button]{
    font-size: 1.25em;
    padding: .5;
    margin: 2px;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    
    #gameBoard{
        flex-direction: column;
    }

    h1{
        display: none;
    }
}